In [ ]:
#install.packages('RPostgreSQL')
#install.packages('RPostgres')

#https://www.datacareer.de/blog/connect-to-postgresql-with-r-a-step-by-step-example/

#library('RPostgreSQL')
#library('RPostgres')
#library(DBI)
#db <- 'postgres'  #provide the name of your db
#host_db <- 'localhost' #i.e. # i.e. 'ec2-54-83-201-96.compute-1.amazonaws.com'  
#db_port <- '5432'  # or any other port specified by the DBA
#db_user <- 'postgres'  
#db_password <- '1081'
#con <- dbConnect(RPostgres::Postgres(), dbname = db, host=host_db, port=db_port, user=db_user, password=db_password)

#dbListTables(con)
#dbSendStatement(con, "INSERT INTO public.newtable (c1, c2) VALUES(2, 'cc')")
#dbGetQuery(con, "SELECT * FROM public.newtable")

#dbDisconnect(con)

In [1]:
options(warn=-1)
#install.packages(c('quantmod','tidyquant','fBasics','xts','readr','dplyr','tvm','RPostgreSQL','RPostgres'))
library('quantmod')
library('tidyquant')
library('fBasics')
library('xts')
library('readr')
library('dplyr')
library('tvm')
library('RPostgreSQL')
library('RPostgres')

Loading required package: xts

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: TTR

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

── Attaching core tidyquant packages ──────────────────────── tidyquant 1.0.9 ──
✔ PerformanceAnalytics 2.0.8
── Conflicts ────────────────────────────────────────── tidyquant_conflicts() ──
✖ zoo::as.Date()                 masks base::as.Date()
✖ zoo::as.Date.numeric()         masks base::as.Date.numeric()
✖ PerformanceAnalytics::legend() masks graphics::legend()
✖ quantmod::summary()            masks base::summary()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘fBasics’


The following objects are masked from ‘package:PerformanceAnalytics’:

    kurtosis, skewness


The following object is masked from ‘package:TTR’:

    volatility



######################### Warning from 'xts' package ##########################
#                                                                             #
# The dplyr lag() function breaks how base R's lag() function is supposed to  #
# work, which breaks lag(my_xts). Calls to lag(my_xts) that you type or       #
# source() into this session won't work correctly.                            #
#                                                                             #
# Use stats::lag() to make sure you're not using dplyr::lag(), or you can add #
# conflictRules('dplyr', exclude = 'lag') to your .Rprofile to stop           #
# dplyr from breaking base R's lag() function.                                #
#                                                                             #
# Code in packages is not affected. It's protected by R's namespace mechanism #
# Set `options(xts.warn_dplyr_breaks_lag = FALSE)` to suppress this warning.  #
#                                                                             #
###############################################################################


Attaching package: ‘dplyr’


The following objects are masked from ‘package:xts’:

    first, last


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: DBI

In [ ]:
library(DBI)

db <- 'postgres'  #provide the name of your db

host_db <- 'localhost' #i.e. # i.e. 'ec2-54-83-201-96.compute-1.amazonaws.com'  

db_port <- '5432'  # or any other port specified by the DBA

db_user <- 'postgres'  

db_password <- '1081'

con <- dbConnect(RPostgres::Postgres(), dbname = db, host=host_db, port=db_port, user=db_user, password=db_password) 
dbListTables(con)

In [2]:
##Importing file:
#capmkt_txn = read.csv("C:\\Users\\hydrogen\\Documents\\Programming\\PerFin Project\\capmkt_txn.csv", header=TRUE, stringsAsFactors=FALSE)
capmkt_txn = read.csv("/Users/smac/Documents/Programming/PerFinProject/capmkt_txn.csv", header=TRUE, stringsAsFactors=FALSE)
str(capmkt_txn)

capmkt_txn

'data.frame':	117 obs. of  11 variables:
 $ comment   : logi  NA NA NA NA NA NA ...
 $ date      : chr  "2024-09-20" "2024-12-11" "2024-12-12" "2024-12-18" ...
 $ txn_type  : chr  "trading" "investment" "investment" "investment" ...
 $ account   : chr  "nonreg" "tfsa" "tfsa" "fhsa" ...
 $ currency  : chr  "usd" "usd" "usd" "cad" ...
 $ tkr       : chr  "ACN" "ADBE" "ADBE" "ADBE.NE" ...
 $ asset     : chr  "Accenture" "Adobe" "Adobe" "Adobe" ...
 $ direction : chr  "buy" "buy" "buy" "buy" ...
 $ quantity  : int  3 10 1 70 10 10 10 21 9 30 ...
 $ price     : num  334.3 514.1 485.1 18 17.8 ...
 $ commission: num  0.35 0.33 0.35 0 0 0.34 0.33 0.33 0.34 0 ...

    comment date       txn_type   account currency tkr     asset
1   NA      2024-09-20 trading    nonreg  usd      ACN     Accenture
2   NA      2024-12-11 investment tfsa    usd      ADBE    Adobe
3   NA      2024-12-12 investment tfsa    usd      ADBE    Adobe
4   NA      2024-12-18 investment fhsa    cad      ADBE.NE Adobe
5   NA      2024-12-19 investment fhsa    cad      ADBE.NE Adobe
6   NA      2024-07-10 investment tfsa    usd      ALLY    Ally Fin
7   NA      2024-07-10 investment tfsa    usd      ALLY    Ally Fin
8   NA      2024-07-19 investment rrsp    usd      ALLY    Ally Fin
9   NA      2024-08-05 investment tfsa    usd      ALLY    Ally Fin
10  NA      2024-12-19 investment fhsa    cad      AMZN.NE Amazon
11  NA      2024-07-06 investment tfsa    usd      AXP     American Express
12  NA      2024-07-19 investment rrsp    usd      AXP     American Express
13  NA      2024-07-24 investment tfsa    usd      AXP     American Express
14  NA      2024-06-24 trading    fhsa    cad      ATS.TO  ATS Corp
15  NA      2024-08-26 trading    fhsa    cad      ATS.TO  ATS Corp
16  NA      2024-08-05 investment tfsa    usd      BRK-B   Berkshire Hathway
17  NA      2024-12-18 investment fhsa    cad      BRK.NE  Berkshire Hathway
18  NA      2024-12-19 investment fhsa    cad      BRK.NE  Berkshire Hathway
19  NA      2024-10-16 trading    fhsa    cad      CBIL.TO CBIL
20  NA      2024-07-05 investment tfsa    usd      CVX     Chevron
21  NA      2024-07-22 investment tfsa    usd      CVX     Chevron
22  NA      2024-07-22 investment tfsa    usd      CVX     Chevron
23  NA      2024-07-23 investment tfsa    usd      CVX     Chevron
24  NA      2024-07-19 investment tfsa    usd      CB      Chubb
25  NA      2024-07-25 investment tfsa    usd      CB      Chubb
26  NA      2024-10-07 trading    nonreg  usd      CB      Chubb
27  NA      2024-08-07 investment fhsa    cad      CNR.TO  CNR
28  NA      2024-09-20 investment fhsa    cad      CNR.TO  CNR
29  NA      2024-10-04 investment fhsa    cad      CNR.TO  CNR
30  NA      2024-10-22 investment fhsa    cad      CNR.TO  CNR
⋮   ⋮       ⋮          ⋮          ⋮       ⋮        ⋮       ⋮
88  NA      2024-05-24 cashflow   rrsp    cad      CASH    CASH
89  NA      2024-06-12 cashflow   fhsa    cad      CASH    CASH
90  NA      2024-06-21 cashflow   fhsa    cad      CASH    CASH
91  NA      2024-07-08 cashflow   fhsa    cad      CASH    CASH
92  NA      2024-09-08 cashflow   fhsa    cad      CASH    CASH
93  NA      2024-09-16 cashflow   tfsa    cad      CASH    CASH
94  NA      2024-09-16 cashflow   nonreg  cad      CASH    CASH
95  NA      2024-10-16 cashflow   tfsa    cad      CASH    CASH
96  NA      2024-10-22 cashflow   fhsa    cad      CASH    CASH
97  NA      2024-12-18 cashflow   fhsa    cad      CASH    CASH
98  NA      2024-12-19 cashflow   fhsa    cad      CASH    CASH
99  NA      2024-10-15 cashflow   nonreg  cad      CASH    CASH
100 NA      2024-11-15 cashflow   tfsa    cad      CASH    CASH
101 NA      2024-10-02 trading    nonreg  usd      ACN     Accenture
102 NA      2024-11-15 investment tfsa    usd      ALLY    Ally Fin
103 NA      2024-11-25 investment rrsp    usd      ALLY    Ally Fin
104 NA      2024-10-03 trading    fhsa    cad      ATS.TO  ATS Corp
105 NA      2024-10-04 trading    fhsa    cad      ATS.TO  ATS Corp
106 NA      2024-10-04 trading    fhsa    cad      ATS.TO  ATS Corp
107 NA      2024-10-25 trading    fhsa    cad      CBIL.TO CBIL
108 NA      2024-11-13 investment tfsa    usd      CVX     Chevron
109 NA      2024-10-09 trading    nonreg  usd      CB      Chubb
110 NA      2024-11-25 investment fhsa    cad      CNR.TO  CNR
111 NA      2024-11-25 investment tfsa    usd      LRCX    Lam Research
112 NA      2024-10-25 trading    tfsa    usd      MCO     Moody’s Corp
113 NA      2024-10-04 trading    nonreg  usd      OXY     Occidental
114 NA      2024-10-14 trading    nonreg  usd      SIRI    Sirius
115 NA      2024-11-14 trading    tfsa    usd      SIRI    Sirius
116 NA      2024-11-13 investment tfsa    usd      SPGI    SPGI
117 NA      2024-10-09 trading    nonreg  usd      V       VISA
    direction quantity price   commission
1   buy        3       334.30  0.35
2   buy       10       514.10  0.33
3   buy        1       485.12  0.35
4   buy       70        17.97  0.00
5   buy       10        17.79  0.00
6   buy       10        33.80  0.34
7   buy       10        35.00  0.33
8   buy       21        41.81  0.33
9   buy        9        39.00  0.34
10  buy       30        26.60  0.00
11  buy        2       244.75  0.35
12  buy        5       238.15  0.35
13  buy        5       243.90  0.35
14  buy       88        43.69  0.00
15  buy        2        36.50  0.00
16  buy        1       410.15  0.35
17  buy       50        34.23  0.00
18  buy       20        34.00  0.00
19  buy       68        50.03  0.00
20  buy        5       141.81  0.35
21  buy        5       156.90  0.35
22  buy        5       157.45  0.35
23  buy        5       155.50  0.35
24  buy        5       261.05  0.35
25  buy        5       262.15  0.35
26  buy        5       276.47  0.35
27  buy       17       152.90  0.00
28  buy        3       158.90  0.00
29  buy        2       154.01  0.00
30  buy        3       155.10  0.00
⋮   ⋮         ⋮        ⋮       ⋮
88  inflow     1         90.00 0.00
89  inflow     1        500.00 0.00
90  inflow     1        650.00 0.00
91  inflow     1        500.00 0.00
92  inflow     1        450.00 0.00
93  inflow     1        100.00 0.00
94  inflow     1       4900.00 0.00
95  inflow     1       6500.00 0.00
96  inflow     1        500.00 0.00
97  inflow     1       3500.00 0.00
98  inflow     1       2000.00 0.00
99  outflow    1       5455.00 0.00
100 outflow    1       6500.00 0.00
101 sell       3        356.85 0.38
102 sell      29         36.18 0.36
103 sell      21         38.60 0.36
104 sell      10         40.00 0.00
105 sell      60         40.76 0.00
106 sell      20         40.99 0.00
107 sell      68         50.08 0.00
108 sell      20        157.25 0.42
109 sell       5        284.45 0.39
110 sell      25        157.75 0.00
111 sell      34         73.50 0.36
112 sell       5        469.33 0.41
113 sell      20         55.40 0.37
114 sell      40         27.00 0.32
115 sell      75         27.45 0.28
116 sell       2        510.50 0.38
117 sell       4        277.40 0.38

In [5]:
## Cash Positions(Enter Manually):
###FHSA
fcashu=0 #in USD
fcashc=49  #in CAD
###TFSA
tcashu=12 #in USD
tcashc=0  #in CAD
###RRSP
rcashu=7 #in USD
rcashc=0  #in CAD
###Non-Reg
ncashu=0 #in USD
ncashc=0  #in CAD
ncashi=0  #in INR

In [6]:
## FX Rates (Today)
usdcad = getQuote("CAD=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last
cadinr = getQuote("CADINR=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last
usdinr = getQuote("INR=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last
usdcad
cadinr
usdinr

[1] 1.4368

[1] 59.074

[1] 84.927

In [7]:
## Cash Inflows/Outflows to Accounts:
cfacc_df = as.data.frame(capmkt_txn[capmkt_txn$txn_type %in% c('cashflow') & capmkt_txn$direction %in% c('inflow','outflow') , ]) #Filtering only cashflow transactions
cfacc_df$date = as.Date(cfacc_df$date, format = "%Y-%m-%d")  #Changing date class to Date

str(cfacc_df)

price_usd = 0
price_cad = 0
price_inr = 0
for (i in 1:nrow(cfacc_df)){
    if (cfacc_df$currency[i]=='cad' & cfacc_df$direction[i]=="inflow"){
        price_usd[i] =  getQuote("CADUSD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_cad[i] =  cfacc_df$price[i]
        price_inr[i] =  getQuote("CADINR=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        }else if(cfacc_df$currency[i]=='cad' & cfacc_df$direction[i]=="outflow"){
        price_usd[i] =  -1*getQuote("CADUSD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_cad[i] =  -1*cfacc_df$price[i]
        price_inr[i] =  -1*getQuote("CADINR=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        }else if(cfacc_df$currency[i]=='usd'& cfacc_df$direction[i]=="inflow"){
        price_usd[i] =  cfacc_df$price[i]
        price_cad[i] =  getQuote("CAD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_inr[i] =  getQuote("USDINR=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        }else if(cfacc_df$currency[i]=='usd'& cfacc_df$direction[i]=="outflow"){
        price_usd[i] =  -1*cfacc_df$price[i]
        price_cad[i] =  -1*getQuote("CAD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_inr[i] =  -1*getQuote("USDINR=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        }else if(cfacc_df$currency[i]=='inr'& cfacc_df$direction[i]=="inflow"){
        price_usd[i] =  getQuote("INRUSD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_cad[i] =  getQuote("INRCAD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_inr[i] =  cfacc_df$price[i]
        }else if(cfacc_df$currency[i]=='inr'& cfacc_df$direction[i]=="outflow"){
        price_usd[i] =  -1*getQuote("INRUSD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_cad[i] =  -1*getQuote("INRCAD=X", from = cfacc_df$date[i],to = cfacc_df$date[i],warnings = FALSE,auto.assign = TRUE)$Last * cfacc_df$price[i]
        price_inr[i] =  -1*cfacc_df$price[i]
        }
        #print(price_usd[i])
    #cfacc_df = cbind(cfacc_df,c(price_cad,price_usd,price_inr))
}
cfacc_df = cbind(cfacc_df,c(price_usd))
colnames(cfacc_df)[12] = c('price_usd')
cfacc_df = cbind(cfacc_df,c(price_cad))
colnames(cfacc_df)[13] = c('price_cad')
cfacc_df = cbind(cfacc_df,c(price_inr))
colnames(cfacc_df)[14] = c('price_inr')
#colnames(cfacc_df) = c('price_usd','price_cad','price_inr')
cfacc_df   
cfacc_ts = as.xts(cfacc_df, date_col = date) #Converting dataframe to Time series
#str(cfacc_ts)

'data.frame':	46 obs. of  11 variables:
 $ comment   : logi  NA NA NA NA NA NA ...
 $ date      : Date, format: "2022-04-11" "2022-05-04" ...
 $ txn_type  : chr  "cashflow" "cashflow" "cashflow" "cashflow" ...
 $ account   : chr  "tfsa" "tfsa" "tfsa" "tfsa" ...
 $ currency  : chr  "cad" "cad" "cad" "cad" ...
 $ tkr       : chr  "CASH" "CASH" "CASH" "CASH" ...
 $ asset     : chr  "CASH" "CASH" "CASH" "CASH" ...
 $ direction : chr  "inflow" "inflow" "inflow" "inflow" ...
 $ quantity  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ price     : num  50 150 300 300 200 600 400 2000 1000 511 ...
 $ commission: num  0 0 0 0 0 0 0 0 0 0 ...

    comment date       txn_type account currency tkr  asset direction quantity
55  NA      2022-04-11 cashflow tfsa    cad      CASH CASH  inflow    1
56  NA      2022-05-04 cashflow tfsa    cad      CASH CASH  inflow    1
57  NA      2022-05-16 cashflow tfsa    cad      CASH CASH  inflow    1
58  NA      2022-05-26 cashflow tfsa    cad      CASH CASH  inflow    1
59  NA      2022-05-30 cashflow tfsa    cad      CASH CASH  inflow    1
60  NA      2022-06-14 cashflow tfsa    cad      CASH CASH  inflow    1
61  NA      2022-06-20 cashflow tfsa    cad      CASH CASH  inflow    1
62  NA      2022-08-25 cashflow tfsa    cad      CASH CASH  inflow    1
63  NA      2022-09-19 cashflow tfsa    cad      CASH CASH  inflow    1
64  NA      2022-09-22 cashflow rrsp    cad      CASH CASH  inflow    1
65  NA      2022-09-27 cashflow tfsa    cad      CASH CASH  inflow    1
66  NA      2022-10-11 cashflow tfsa    cad      CASH CASH  inflow    1
67  NA      2022-10-13 cashflow tfsa    cad      CASH CASH  inflow    1
68  NA      2022-12-05 cashflow tfsa    cad      CASH CASH  inflow    1
69  NA      2022-12-20 cashflow tfsa    cad      CASH CASH  inflow    1
70  NA      2022-12-22 cashflow tfsa    cad      CASH CASH  inflow    1
71  NA      2023-09-27 cashflow tfsa    cad      CASH CASH  inflow    1
72  NA      2023-10-03 cashflow tfsa    cad      CASH CASH  inflow    1
73  NA      2023-11-06 cashflow tfsa    cad      CASH CASH  inflow    1
74  NA      2024-02-23 cashflow fhsa    cad      CASH CASH  inflow    1
75  NA      2024-02-23 cashflow rrsp    cad      CASH CASH  inflow    1
76  NA      2024-02-27 cashflow rrsp    cad      CASH CASH  inflow    1
77  NA      2024-04-10 cashflow fhsa    cad      CASH CASH  inflow    1
78  NA      2024-04-24 cashflow fhsa    cad      CASH CASH  inflow    1
79  NA      2024-05-06 cashflow tfsa    cad      CASH CASH  inflow    1
80  NA      2024-05-06 cashflow fhsa    cad      CASH CASH  inflow    1
81  NA      2024-05-07 cashflow fhsa    cad      CASH CASH  inflow    1
82  NA      2024-05-10 cashflow tfsa    cad      CASH CASH  inflow    1
83  NA      2024-05-10 cashflow fhsa    cad      CASH CASH  inflow    1
84  NA      2024-05-10 cashflow rrsp    cad      CASH CASH  inflow    1
85  NA      2024-05-21 cashflow fhsa    cad      CASH CASH  inflow    1
86  NA      2024-05-23 cashflow fhsa    cad      CASH CASH  inflow    1
87  NA      2024-05-24 cashflow tfsa    cad      CASH CASH  inflow    1
88  NA      2024-05-24 cashflow rrsp    cad      CASH CASH  inflow    1
89  NA      2024-06-12 cashflow fhsa    cad      CASH CASH  inflow    1
90  NA      2024-06-21 cashflow fhsa    cad      CASH CASH  inflow    1
91  NA      2024-07-08 cashflow fhsa    cad      CASH CASH  inflow    1
92  NA      2024-09-08 cashflow fhsa    cad      CASH CASH  inflow    1
93  NA      2024-09-16 cashflow tfsa    cad      CASH CASH  inflow    1
94  NA      2024-09-16 cashflow nonreg  cad      CASH CASH  inflow    1
95  NA      2024-10-16 cashflow tfsa    cad      CASH CASH  inflow    1
96  NA      2024-10-22 cashflow fhsa    cad      CASH CASH  inflow    1
97  NA      2024-12-18 cashflow fhsa    cad      CASH CASH  inflow    1
98  NA      2024-12-19 cashflow fhsa    cad      CASH CASH  inflow    1
99  NA      2024-10-15 cashflow nonreg  cad      CASH CASH  outflow   1
100 NA      2024-11-15 cashflow tfsa    cad      CASH CASH  outflow   1
    price commission price_usd   price_cad price_inr
55    50  0             34.79955    50        2953.700
56   150  0            104.39866   150        8861.100
57   300  0            208.79733   300       17722.200
58   300  0            208.79733   300       17722.200
59   200  0            139.19822   200       11814.800
60   600  0            417.59466   600       35444.400
61   400  0            278.39644   400       23629.600
62  2000  0           1391.98220  2000      118148.000
63  1000  0            695.99110  1000       59074.000
64   511  0            355.65145   511       30186.814
65   150  0            104.39866   150        8861.100
66   300  0            208.79733   300       17722.200
67   550  0            382.79510   550       32490.700
68  1500  0           1043.98665  1500       88611.000
69  1500  0           1043.98665  1500       88611.000
70  2000  0           1391.98220  2000      118148.000
71   500  0            347.99555   500       29537.000
72  3000  0           2087.97330  3000      177222.000
73  4000  0           2783.96440  4000      236296.000
74    20  0             13.91982    20        1181.480
75  1000  0            695.99110  1000       59074.000
76  1000  0            695.99110  1000       59074.000
77  1780  0           1238.86416  1780      105151.720
78  1000  0            695.99110  1000       59074.000
79   300  0            208.79733   300       17722.200
80  1000  0            695.99110  1000       59074.000
81   700  0            487.19377   700       41351.800
82    29  0             20.18374    29        1713.146
83    77  0             53.59131    77        4548.698
84    99  0             68.90312    99        5848.326
85    23  0             16.00780    23        1358.702
86   300  0            208.79733   300       17722.200
87    71  0             49.41537    71        4194.254
88    90  0             62.63920    90        5316.660
89   500  0            347.99555   500       29537.000
90   650  0            452.39421   650       38398.100
91   500  0            347.99555   500       29537.000
92   450  0            313.19599   450       26583.300
93   100  0             69.59911   100        5907.400
94  4900  0           3410.35639  4900      289462.600
95  6500  0           4523.94215  6500      383981.000
96   500  0            347.99555   500       29537.000
97  3500  0           2435.96885  3500      206759.000
98  2000  0           1391.98220  2000      118148.000
99  5455  0          -3796.63145 -5455     -322248.670
100 6500  0          -4523.94215 -6500     -383981.000

In [9]:
##PF Holdings(excluding cash):
pftx_df = as.data.frame(capmkt_txn[capmkt_txn$txn_type %in% c('investment','trading') & capmkt_txn$direction %in% c('buy','sell') , ]) #Filtering only market transactions
tkr = unique(pftx_df$tkr)
pf = data.frame()
#tkr
for (i in tkr){
    ntx = subset(pftx_df, tkr==i)
    q=0
    buyq = sum(subset(ntx, direction == 'buy')$quantity)
    sellq = sum(subset(ntx, direction == 'sell')$quantity)
    cur = unique(pftx_df[pftx_df$tkr %in% c(i), ]$currency)
    as = unique(pftx_df[pftx_df$tkr %in% c(i), ]$asset)
    q = buyq - sellq
    #print(i)
    #print(nrow(ntx))
    #print(q)
    pf = rbind(pf,c(i,as,cur,q))
}
colnames(pf) = c('tkr','asset','currency','quantity')
pf$quantity = as.numeric(pf$quantity)
str(pf)
pf

'data.frame':	21 obs. of  4 variables:
 $ tkr     : chr  "ACN" "ADBE" "ADBE.NE" "ALLY" ...
 $ asset   : chr  "Accenture" "Adobe" "Adobe" "Ally Fin" ...
 $ currency: chr  "usd" "usd" "cad" "usd" ...
 $ quantity: num  0 11 80 0 30 12 0 1 70 0 ...

   tkr     asset             currency quantity
1  ACN     Accenture         usd       0
2  ADBE    Adobe             usd      11
3  ADBE.NE Adobe             cad      80
4  ALLY    Ally Fin          usd       0
5  AMZN.NE Amazon            cad      30
6  AXP     American Express  usd      12
7  ATS.TO  ATS Corp          cad       0
8  BRK-B   Berkshire Hathway usd       1
9  BRK.NE  Berkshire Hathway cad      70
10 CBIL.TO CBIL              cad       0
11 CVX     Chevron           usd       0
12 CB      Chubb             usd      10
13 CNR.TO  CNR               cad      30
14 COST    Costco            usd       5
15 CP.TO   CP                cad      35
16 LRCX    Lam Research      usd       0
17 MCO     Moody’s Corp      usd       0
18 OXY     Occidental        usd      70
19 SIRI    Sirius            usd       0
20 SPGI    SPGI              usd       0
21 V       VISA              usd       0

In [10]:
##Adding CMP:

for (i in 1:nrow(pf)){
    pf$cmp[i]= getQuote(pf$tkr[i], from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last
}
#pf
## Adding market values in three currencies
mkt_usd = 0
mkt_cad = 0
mkt_inr = 0
for (i in 1:nrow(pf)){
    if (pf$currency[i]=='cad'){
        mkt_usd[i] =  getQuote("CADUSD=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last * pf$quantity[i] * pf$cmp[i]
        mkt_cad[i] =  pf$quantity[i] * pf$cmp[i]
        mkt_inr[i] =  getQuote("CADINR=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last * pf$quantity[i] * pf$cmp[i]
        }else if(pf$currency[i]=='usd'){
        mkt_usd[i] =  pf$quantity[i] * pf$cmp[i]
        mkt_cad[i] =  getQuote("CAD=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last * pf$quantity[i] * pf$cmp[i]
        mkt_inr[i] =  getQuote("USDINR=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last * pf$quantity[i] * pf$cmp[i]
        }else if(pf$currency[i]=='inr'){
        mkt_usd[i] =  getQuote("INRUSD=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last * pf$quantity[i] * pf$cmp[i]
        mkt_cad[i] =  getQuote("INRCAD=X", from = Sys.Date(),to = Sys.Date(),warnings = FALSE,auto.assign = TRUE)$Last * pf$quantity[i] * pf$cmp[i]
        mkt_inr[i] =  pf$quantity[i] * pf$cmp[i]
        }
        #print(mkt_usd[i])
    #pf = cbind(pf,c(mkt_cad,mkt_usd,mkt_inr))
}
pf = cbind(pf,c(mkt_usd))
colnames(pf)[6] = c('mkt_usd')
pf = cbind(pf,c(mkt_cad))
colnames(pf)[7] = c('mkt_cad')
pf = cbind(pf,c(mkt_inr))
colnames(pf)[8] = c('mkt_inr')
pf

   tkr     asset             currency quantity cmp    mkt_usd   mkt_cad
1  ACN     Accenture         usd       0       366.37    0.0000    0.0000
2  ADBE    Adobe             usd      11       447.17 4918.8700 7067.4324
3  ADBE.NE Adobe             cad      80        17.86  994.4321 1428.8000
4  ALLY    Ally Fin          usd       0        34.86    0.0000    0.0000
5  AMZN.NE Amazon            cad      30        26.75  558.5329  802.5000
6  AXP     American Express  usd      12       298.65 3583.8000 5149.2038
7  ATS.TO  ATS Corp          cad       0        42.90    0.0000    0.0000
8  BRK-B   Berkshire Hathway usd       1       453.20  453.2000  651.1578
9  BRK.NE  Berkshire Hathway cad      70        34.19 1665.7155 2393.3000
10 CBIL.TO CBIL              cad       0        50.07    0.0000    0.0000
11 CVX     Chevron           usd       0       142.85    0.0000    0.0000
12 CB      Chubb             usd      10       273.20 2732.0000 3925.3376
13 CNR.TO  CNR               cad      30       145.34 3034.6604 4360.2000
14 COST    Costco            usd       5       954.07 4770.3500 6854.0389
15 CP.TO   CP                cad      35       103.80 2528.5357 3633.0000
16 LRCX    Lam Research      usd       0        71.79    0.0000    0.0000
17 MCO     Moody’s Corp      usd       0       466.35    0.0000    0.0000
18 OXY     Occidental        usd      70        47.13 3299.1000 4740.1469
19 SIRI    Sirius            usd       0        23.08    0.0000    0.0000
20 SPGI    SPGI              usd       0       491.81    0.0000    0.0000
21 V       VISA              usd       0       317.71    0.0000    0.0000
   mkt_inr
1       0.00
2  417744.87
3   84404.93
4       0.00
5   47406.89
6  304361.38
7       0.00
8   38488.92
9  141381.80
10      0.00
11      0.00
12 232020.56
13 257574.45
14 405131.51
15 214615.84
16      0.00
17      0.00
18 280182.67
19      0.00
20      0.00
21      0.00

In [11]:
# Todays Position(PF + Cash):

## pfmkt = mktval + cash

pfmkt_usd = sum(pf$mkt_usd) + fcashu + (fcashc/usdcad) + tcashu + (tcashc/usdcad) + rcashu + (rcashc/usdcad) + ncashu + (ncashc/usdcad) + (ncashi/usdinr)
mktval_usd = sum(pf$mkt_usd)
cash_usd = pfmkt_usd - mktval_usd

pfmkt_cad = sum(pf$mkt_cad) + (fcashu*usdcad) + fcashc + (tcashu*usdcad) + (tcashc) + (rcashu*usdcad) + (rcashc) + (ncashu*usdcad) + ncashc + (ncashi/cadinr)
mktval_cad = sum(pf$mkt_cad)
cash_cad = pfmkt_cad - mktval_cad

pfmkt_inr = sum(pf$mkt_inr) + (fcashu*usdinr) + (fcashc*cadinr) + (tcashu*usdinr) + (tcashc*cadinr) + (rcashu*usdinr) + (rcashc*cadinr) + (ncashu*usdinr) + (ncashc*cadinr) + (ncashi)
mktval_inr = sum(pf$mkt_inr)
cash_inr = pfmkt_inr - mktval_inr

In [12]:
# Calculating Time weighted return as of today:

cfacc_final = cfacc_df[,c('date','price_usd','price_cad','price_inr')]
cfacc_final$price_cad = cfacc_final$price_cad * -1
cfacc_final$price_usd = cfacc_final$price_usd * -1
cfacc_final$price_inr = cfacc_final$price_inr * -1
cfacc_final = rbind(cfacc_final,c(Sys.Date(),pfmkt_usd,pfmkt_cad,pfmkt_inr))
sum(cfacc_final$price_cad)
twr_usd = 100*xirr(cf = cfacc_final$price_usd, d = cfacc_final$date)
twr_cad = 100*xirr(cf = cfacc_final$price_cad, d = cfacc_final$date)
twr_inr = 100*xirr(cf = cfacc_final$price_inr, d = cfacc_final$date)
print(paste("The Time Weighted Return in CAD : ",round(twr_cad,2),"%   ", Sys.Date()))
print(paste("The Time Weighted Return in USD : ",round(twr_usd,2),"%   ", Sys.Date()))
print(paste("The Time Weighted Return in INR : ",round(twr_inr,2),"%   ", Sys.Date()))

[1] 6936.417

[1] "The Time Weighted Return in CAD :  15.84 %    2024-12-21"
[1] "The Time Weighted Return in USD :  15.84 %    2024-12-21"
[1] "The Time Weighted Return in INR :  15.87 %    2024-12-21"

In [ ]:
#TWR Log file:

smry_df_usd = data.frame()
smry_df_usd = rbind(smry_df_usd, c(twr_usd,mktval_usd,cash_usd))
smry_df_usd = cbind(smry_df_usd, Sys.Date())
smry_df_usd = smry_df_usd[,c(4,1,2,3)]
colnames(smry_df_usd)[1] = c('date')

colnames(smry_df_usd)[2] = c('twr_usd')

colnames(smry_df_usd)[3] = c('mktval_usd')
colnames(smry_df_usd)[4] = c('cash_usd')
#colnames(smry_df_usd)[6] = c('cash_usd')
#smry_df_usd
smry_df_usd_ts = as.xts(smry_df_usd, date_col = date)
smry_df_usd_ts

In [ ]:
#Write to CSV file & export
#write.csv(smry_df_usd_ts, file = "output.csv", row.names = FALSE)

In [ ]:
dbGetQuery(con, "SELECT * FROM public.newtable")

In [ ]:
#Appending current date and returns into database:


today_date = as.character(Sys.Date())
#today_date = "2024-09-20"
query = paste0("INSERT INTO public.newtable (d, ret_usd) VALUES('",today_date,"'",",","'",round(twr_usd,2),"')")
dbSendStatement(con,query)

In [ ]:
dbDisconnect(con)